input {
    padding: 20px;
    margin: 20px 0;
    width: 50vw;
    font-size: 1.5rem;
}

table {
    border-collapse: collapse;
}


td {
    border-bottom: 1px dotted grey;
    border-top: 1px dotted grey;
    padding: 15px;
    text-align: center;
}

.noresult {
    color: red;
    font-size: 2rem;
}