/* Lägger in denna extra CSS fil för att testa 
funktionalitet med Parcel. Denna css används bara 
av pictures.html*/


.imgwrapper{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

img {
    max-width: 100%;
}

/* Media queries för större skärmar */
@media (min-width: 600px) {

    .imgwrapper{
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

}

@media (min-width: 1000px) {
    .imgwrapper{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }
}